
.main {
    max-width: 750px;
    padding-bottom: 460px;
}
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #C0C0C0;
    margin-top: 40px;
    height: 80px;
    border-bottom: 1px solid #E5E5E5;
    .stepItem {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 8px;
            background: #C0C0C0;
            color: #fff;
            font-size: 20px;
    
        }
        &.active {
            color: #069456;
            span {
                background: #069456;
            }
        }
    }
   
}
.dataWrap {
    position: relative;
    width: 690px;
    height: 280px;
    background: url(./images/data_bg.png) no-repeat center center;
    background-size: 100% 100%;
    box-sizing: border-box;
    margin: 30px auto 0;
    padding-top: 120px;
    .dataContent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 642px;
        height: 140px;
        background: #fff;
        border-radius: 20px;
        margin: 0 auto 0;
    }
    .dataItem {
        flex: 1;
    }
    .dataNum {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-family: DINAlternate-Bold, DINAlternate, PingFangSC-Regular, PingFang SC;
        color: #006E3E;
        font-weight: bold;
        span {
            font-size: 22px;
            vertical-align: middle;
        }
        .star {
            display: inline-block;
            width: 21px;
            height: 20px;
            background: url(./images/data_star.png) no-repeat center center;
            background-size: 100% 100%;
        }
    }
    .dataText {
        font-size: 22px;
        color: rgba(0,0,0,.5);
        margin-top: 10px;
        text-align: center;
    }
}
.assistantTitle {
    text-align: center;
    font-size: 24px;
    color: #999999;
    margin-top: 60px;
}

.robot {
    position: relative;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 60px;
    .robotContent {
        display: flex;
        align-items: center;
        align-items: flex-start;
        margin-top: 60px;
    }
    .robotPhoto {
        width: 60px;
        height: 60px;
        background: url(./images/robot_photo.png) no-repeat center center;
        background-size: 100% 100%;
        box-sizing: border-box;
    }
    .robotText {
        width: 560px;
        background: #F6F7F9;
        box-sizing: border-box;
        border-top-left-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 24px;
        color: #000;
        padding: 20px;
        margin-left: 20px;
        span {
            color: #069456;
        }
    }
}
.lawerList {
    margin-top: 60px;
    box-sizing: border-box;
    padding-left: 30px;
}
.lawerSwiper {
    .swiper-slide  { 
        width: 318px;
    }
    .content {
        position: relative;
        width: 318px;
        height: 384px;
        background: #F6F7F9;
        border:1px solid #E0EFE5;
        border-radius: 20px;
        box-sizing: border-box;
        background: #fff;
        overflow: hidden;
        .photo {
            position: relative;
            overflow: hidden;
            height: 190px;
            background: linear-gradient(
                180deg,
                rgba(91, 237, 164, .28) 0%,
                rgba(231, 247, 239, .21) 100%
            ); 
            .photoImg {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
            .photoImg1 {
                width: 200px;
                height: 190px;
                background: url(./images/lawer_1.png) no-repeat center center;
                background-size: 100% 100%;
            }
            .photoImg2 {
                width: 200px;
                height: 190px;
                background: url(./images/lawer_2.png) no-repeat center center;
                background-size: 100% 100%;
            }
            .photoImg3 {
                width: 200px;
                height: 190px;
                background: url(./images/lawer_3.png) no-repeat center center;
                background-size: 100% 100%;
            }
            .logo {
                position: absolute;
                right: 0;
                top: 0;
                width: 186px;
                height: 150px;
                background: url(./images/logo.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
        .info {
            box-sizing: border-box;
            padding-left: 20px;
            .name {
                display: flex;
                align-items: center;
                margin-top: 10px;
                box-sizing: border-box;
                padding-right: 20px;

                .nameText {
                    flex: 1;
                    font-size: 28px;
                    color: #000;
                    font-weight: bold;
                }
                .star {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    color: #000;
                    margin-left: 4px;
                    span {
                        display: inline-block;
                        width: 24px;
                        height:24px;
                        background: url(./images/star.png) no-repeat center center;
                        background-size: 100% 100%;
                        vertical-align: middle;
                    }
                   
                }
            }
            .experience {
                display: flex;
                align-items: center;
                margin-top: 6px;
                .year {
                    font-size: 22px;
                    color: #000;
                    
                }
                .order {
                    font-size: 22px;
                    color: #000;
                    margin-left: 10px;
                }
            }
            .tagList {
                margin-top: 6px;
                .tagItem {
                    margin-top: 2px;
                }
                .tag {
                    display: inline-block;
                    border-radius: 8px;
                    box-sizing: border-box;
                    font-size: 22px;
                    color: #00532F;
                    padding: 4px 10px;
                    background: linear-gradient(
                        180deg,
                        rgba(198, 255, 225, .93) 0%,
                        rgba(226, 255, 241, 1) 100%
                    ); 
                }
            }
            
        }
    }
}

.guardBar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 396px;
    background: #EBF7FA;
    font-size: 24px;
    color: #000;
    height: 56px;
    border-radius: 56px;
    margin-left: 30px;
    .guardIcon {
        width: 64px;
        height: 64px;
        background: url(./images/guard_icon.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .guardText {
        flex: 1;
        text-align: center;
    }
    .arrow {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(./images/arrow.png) no-repeat center center;
        background-size: 100% 100%;
        margin-right: 20px;
    }
}

.askInfo {
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 40px;
    .askTop {
        display: flex;
        align-items: center;
        .askTitle {
            font-size: 28px;
            color: #000;
            flex: 1;
        }
        .changeBtn {
            display: flex;
            align-items: center;
            span {
                display: inline-block;
                width: 28px;
                height: 28px;
                background: url(./images/change_icon.png) no-repeat center center;
                background-size: 100% 100%;
                vertical-align: middle;
                margin-right: 10px;
            }
            font-size: 24px;
            color: #666;
        }
    }
    .askContent {
        .askTag {
            display: inline-block;
            font-size: 24px;
            color: #666;
            border-radius: 12px;
            padding: 6px 12px;
            background: rgba(0,0,0,.06);
            margin-top: 20px;
        }
    }
   
}
.consultListWrap {
    padding: 0 30px;
}
.consultList {
    position: relative;
    margin-top: 40px;
    height: 520px;
    box-sizing: border-box;
    padding: 30px 30px 0;
    border-radius: 20px;
    background: linear-gradient(
        180deg,
        #00B365 0%,
        #FFFFFF 100%
    ); 
    .consultTop {
        display: flex;
        align-items: flex-end;
        .consultTitle {
            font-size: 24px;
            color: #fff;
            flex: 1;
        }
        .position {
            display: flex;
            align-items: center;
            font-size: 24px;
            color: #fff;
            span {
                display: inline;
                width: 20px;
                height: 20px;
                background: url(./images/position_icon.png) no-repeat center center;
                background-size: 100% 100%;
                margin-right: 6px;
            }
        }
    }
    .info {
        display: flex;
        .infoItem {
            &:nth-child(2) {
                flex: 1;
            }
            .sec {
                font-size: 22px;
                color: #000;
                text-align: center;
                span {
                    font-size: 28px;
                    color: #069456;
                }
            }
            .secText {
                font-size: 20px;
                color: #666;
                text-align: center;
            }
            .case {
                font-size: 22px;
                color: #000;
                text-align: center;
                span {
                    font-size: 28px;
                    color: #069456;
                }
            }
            .caseText {
                font-size: 20px;
                color: #666;
                text-align: center;
            }
        }
    }
    .rp {
        position: relative;
        display: flex;
        align-items: center;
        width: 294px;
        font-size: 22px;
        color: #000;
        height: 60px;
        background: linear-gradient(
            180deg,
            rgba(53, 212, 142, .12) 0%,
            rgba(151, 255, 210, .12) 100%
        ); 
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: #069456;
        margin: 40px auto 0;
    }
    .consultBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 174px;
        height: 60px;
        border-radius: 60px;
        background: linear-gradient(
            180deg,
            #069456 0%,
            #00C36E 100%
        ); 
        font-size: 24px;
        color: #fff;
        text-align: center;
        top:0;
        right: 0;
    }
}

.consultSwiper {
    margin-top: 20px;
    .swiper-slide {
    }
    .swiperItem {
    }
    .content {
        position: relative;
        width: 314px;
        height: 382px;
        background: #F6F7F9;
        border:1px solid #E0EFE5;
        border-radius: 20px;
        box-sizing: border-box;
        background: #fff;
        overflow: hidden;
        .photo {
            position: relative;
            height: 160px;
            background: linear-gradient(
                180deg,
                #FFFFFF 24%,
                #A6F8D4 100%
            ); 
            overflow: hidden;
            .photoImg1 {
                position: absolute;
                right: 0;
                left: 0;
                width: 200px;
                height: 178px;
                background: url(./images/consult_photo_1.png) no-repeat center center;
                background-size: 100% 100%;
                
            }
            .logo {
                position: absolute;
                right: 0;
                top: 0;
                width: 186px;
                height: 150px;
                background: url(./images/logo_2.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
        .info {
        }
    }
    .topInfo {
        position: absolute;
        right: 0;
        top: 0; 
        .star {
            display: flex;
            align-items: center;
            span {
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(./images/consult_star.png) no-repeat center center;
                background-size: 100% 100%;
                vertical-align: middle;
            }
            font-size: 24px;
            color: #FE9E36;
        }
        .name {
            font-size: 28px;
            color: #000;
            font-weight: bold;
        }
        .tahun {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 28px;
            border-radius: 28px;
            font-size: 20px;
            color: #fff;
            background: linear-gradient(
                180deg,
                #0BB66B 0%,
                #0AE686 100%
            ); 
        }
    }
}
.askInput {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    .askInputText {
        border: none;
        width: 520px;
        height: 80px;
        border-radius: 80px;
        border: 1px solid rgba(0,0,0,.2);
        padding: 0 30px;
    }
    .askInputBtn {
        display: inline-block;
        width: 80px;
        height: 80px;
        background: url(./images/map_icon.png) no-repeat center center;
        background-size: 100% 100%;
        margin-left: 20px;
    }
}