
.main {
    max-width: 750px;
}
.banner {
    width: 100%;
    height: 553px;
    background: url(./images/banner.png) no-repeat center center;
    background-size: 100% 100%;
}
.mod {
    width: 690px;
    background: #fff;
    margin: 0 auto 0;

}