
.main {
    max-width: 750px;
    padding-bottom: 460px;
}
.header {
    position: fixed;
    width: 100%;
    background: #CFFFF5;
    padding-top:100px;
    left: 0;
    top:0px;
    z-index: 999;
    box-sizing: border-box;
    padding: 90px 30px 0;
    .backBtn {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(./images/back_arrow.png) no-repeat center center;
        background-size: 100% 100%;
    }
}
.banner {
    width: 100%;
    height: 700px;
    background: url(./images/banner.png) no-repeat center center;
    background-size: 100% 100%;
}
.mod {
    position: relative;
    width: 690px;
    background: #fff;
    margin: 60px auto 0;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0, .25);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 30px 20px;
    padding-top: 80px;
    border: 1px solid #9EFFE0;
    &.introduction {
        position: relative;
        margin-top: -160px;
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_1.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .text {
            font-size: 24px;
            color: #000;
        }
        .reminder {
            background: #D1FFE6;
            border-radius: 16px;
            font-size: 24px;
            color: #00874C;
            padding: 20px;
            margin-top: 20px;
        }
    }
    &.benefits {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_2.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .item {
            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                color: #000;
                .icon1 {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background: url(./images/icon_1.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
            }
            .detail {
                font-size: 24px;
                color: #00874C;
                line-height: 34px;
                text-align: center;
                padding-top: 10px;
            }
        }
        
    }
    &.population {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_3.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .item {
            span {
                display: inline-block;
                width: 28px;
                height: 24px;
                background: url(./images/icon_2.png) no-repeat center center;
                background-size: 100% 100%;
                margin-right: 10px;
            }
            font-size: 24px;
            color: #007542;
            margin-top: 30px;
        }
    }
    &.working {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_4.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .step {
            .bar {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: #007542;
                width: 600px;
                height: 48px;
                border-radius: 24px;
                background: #E3F6EE;
            }
            .text {
                font-size: 24px;
                color: #000;
                line-height: 34px;
                padding: 10px 0;
                text-align: center;
            }
            .arrow {
                width: 24px;
                height: 24px;
                background: url(./images/arrow.png) no-repeat center center;
                background-size: 100% 100%;
                margin: 0 auto 0;
            }
        }
    }

    &.examples {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_5.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .exampleImg {
            width: 626px;
            height: 310px;
            background: url(./images/example_img.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .reminder {
            background: linear-gradient(
                -180deg,
                rgba(191, 255, 220, .5) 0%,
                rgba(209, 255, 230, 0) 100%
            );
            box-shadow: 0 4px 4px 0 rgba(0,0,0, .25);
            border-radius: 16px;
            font-size: 24px;
            color: #000;
            padding: 20px;
            margin-top: 40px;
            line-height: 1.5;
            .review {
                span {
                    display: inline-block;
                    vertical-align: middle;
                    width: 54px;
                    height: 22px;
                    background: url(./images/icon_3.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
                font-size: 24px;
                color: #007644;
                text-align: right;
                margin-top: 10px;
            }
        }
    }

    &.promise {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_6.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .item {
            margin-top: 30px;
            padding-left: 30px;
            .text {
                font-size: 28px;
                color: #000;
                .icon4 {
                    display: inline-block;
                    width: 30px;
                    height: 28px;
                    background: url(./images/icon_4.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
            }
        }   
    }

    
}

.logoBottom {
    width: 260px;
    height: 104px;
    background: url(./images/logo_bottom.png) no-repeat center center;
    background-size: 100% 100%;
    margin: 0 auto 0;
    margin-top: 100px;
}
.btmBtnGroup {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
   
    .tips {
        padding: 10px 30px;
        font-size: 24px;
        color: #F26D00;
        background: #FFDDC0;
    }
    .btnContent {
        padding: 40px 0 60px;
        background: #fff;
    }
    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn1 {
            display: flex;
            width: 328px;
            height: 100px;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: #069456;
            background: #fff;
            border: 2px solid #069456;
            border-radius: 63px;
            margin: 0 auto 0;
        }
        .btn2 {
            display: flex;
            width: 328px;
            height: 100px;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: #fff;
            background: #069456;
            border-radius: 63px;
            margin: 0 auto 0;
        }
    }
    .text {
        color: #000;
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
        opacity: .5;
    }
}

.floatBtn {
    position: fixed;
    width: 112px;
    height: 112px;
    background: url(./images/icon_5.png) no-repeat center center;
    background-size: 100% 100%;
    right: 20px;
    bottom: 380px;
    z-index: 999;
}