
.main {
    max-width: 750px;
    padding-bottom: 400px;
}
.header {
    position: fixed;
    width: 100%;
    height: 48px;
    background: #CFFFF5;
    left: 0;
    top:90px;
    z-index: 999;
    box-sizing: border-box;
    padding: 0 30px;
    .backBtn {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(./images/back_arrow.png) no-repeat center center;
        background-size: 100% 100%;
    }
}
.banner {
    width: 100%;
    height: 700px;
    background: url(./images/banner.png) no-repeat center center;
    background-size: 100% 100%;
}
.mod {
    position: relative;
    width: 690px;
    background: #fff;
    margin: 60px auto 0;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0, .25);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 30px 20px;
    padding-top: 90px;
    border: 1px solid #9EFFE0;
    &.why {
        margin-top: -140px;
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_1.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .subTitle {
            display: flex;
            align-items: center;
            font-size: 24px;
            color: #000;
            padding-bottom: 10px;
            span {
                display: inline-block;
                width: 44px;
                height: 40px;
                background: url(./images/icon_1.png) no-repeat center center;
                background-size: 100% 100%;
                margin-top: 6px;
                margin-right: 10px;
            }
            p {
                flex: 1;
                line-height: 34px;
            }
        }
        .text {
            display: flex;
            font-size: 24px;
            color: #000;
            margin-top: 6px;
            span {
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(./images/icon_2.png) no-repeat center center;
                background-size: 100% 100%;
                margin-top: 6px;
                margin-right: 10px;
            }
            p {
                flex: 1;
                line-height: 34px;
            }
        }
        .reminder {
            background: #D1FFE6;
            border-radius: 16px;
            font-size: 24px;
            color: #00874C;
            padding: 20px;
            margin-top: 20px;
        }
    }
    &.our {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_2.png) no-repeat center center;
            background-size: 100% 100%;
        }
        dl {
            margin-top: 20px;
            :nth-child(1) {
                margin-top: 0;
            }
            dt {
                display: flex;
                align-items: center;
                font-size: 24px;
                color: #007542;
                .icon3 {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: url(./images/icon_3.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
                .icon4 {
                    display: inline-block;
                    width: 35px;
                    height: 37px;
                    background: url(./images/icon_4.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
                .icon5 {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: url(./images/icon_5.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
                .icon6 {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    background: url(./images/icon_6.png) no-repeat center center;
                    background-size: 100% 100%;
                    margin-right: 10px;
                }
            }
            dd {
                font-size: 24px;
                color: #000;
                line-height: 34px;
                padding-top: 10px;
            }
        }
    }
    &.working {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_3.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .step {
            .bar {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: #007542;
                width: 600px;
                height: 48px;
                border-radius: 24px;
                background: #E3F6EE;
            }
            .text {
                font-size: 24px;
                color: #000;
                line-height: 34px;
                padding: 10px 0;
            }
            .arrow {
                width: 24px;
                height: 24px;
                background: url(./images/arrow.png) no-repeat center center;
                background-size: 100% 100%;
                margin: 0 auto 0;
            }
        }
    }

    &.platform {
        .title {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            top:-40px;
            width: 462px;
            height: 112px;
            background: url(./images/title_4.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .subTitle {
            display: flex;
            font-size: 24px;
            color: #000;
            padding-bottom: 10px;
            span {
                display: inline-block;
                width: 44px;
                height: 40px;
                background: url(./images/icon_1.png) no-repeat center center;
                background-size: 100% 100%;
                margin-top: 6px;
                margin-right: 10px;
            }
            p {
                flex: 1;
                line-height: 34px;
            }
        }
        .reminder {
            background: #D1FFE6;
            border-radius: 16px;
            font-size: 24px;
            color: #00874C;
            padding: 20px;
            margin-top: 20px;
            line-height: 1.5;
        }
    }
}

.logoBottom {
    width: 260px;
    height: 104px;
    background: url(./images/logo_bottom.png) no-repeat center center;
    background-size: 100% 100%;
    margin: 0 auto 0;
    margin-top: 100px;
}
.btmBtnGroup {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
   
    .btn {
        display: flex;
        width: 670px;
        height: 110px;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #fff;
        background: #069456;
        border-radius: 63px;
        margin: 0 auto 0;
    }
    .tips {
        padding: 10px 30px;
        font-size: 24px;
        color: #F26D00;
        background: #FFDDC0;
    }
    .btnContent {
        padding: 40px 0 60px;
        background: #fff;
    }
    .text {
        color: #000;
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
    }
}