
.main {
    max-width: 750px;
    padding-bottom: 400px;
}
.banner {
    width: 100%;
    height: 1420px;
    background: url(./images/banner.png) no-repeat center center;
    background-size: 100% 100%;
}

.headerBanner {
    width: 100%;
    height: 665px;
    background: url(./images/header_banner.png) no-repeat center center;
    background-size: 100% 100%;
}

.mod {
    position: relative;
    width: 646px;
    background: #11B56D;
    box-sizing: border-box;
    margin: 0 auto 0;
    border-radius: 40px;
    border: 10px solid #BFF6BF;
    .title {
        width: 362px;
        height: 126px;
        background: url(./images/title.png) no-repeat center center;
        background-size: 100% 100%;
        margin: 20px auto 0;
    }
    .item {
        display: flex;
        align-items: center;
        width: 586px;
        background: #fff;
        box-sizing: border-box;
        height: 54px;
        border-radius: 36px;
        margin: 20px auto 0;
        font-size: 26px;
        color: #079456;
        padding-left: 10px;
    }
    .flat {
        position: relative;
        width: 593px;
        height: 764px;
        background: url(./images/flat.png) no-repeat center center;
        background-size: 100% 100%;
        margin: 20px auto 0;
        .content {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translate3d(-50%,0,0);
            width: 480px;
            border-radius: 22px;
            background: #fff;
            box-sizing: border-box;
            padding: 20px 0;
            .inner {
                width: 442px;
                background: #DFFEC7;
                border-radius: 16px;
                padding: 30px 20px;
                box-sizing: border-box;
                margin: 0 auto 0;
            }
            .text {
                text-align: center;
                color: #079456;
                font-size: 16px;
                margin-top: 30px;
            }
            .inputWrap {
                position: relative;
                display: flex;
                align-items: center;
                width: 368px;
                background: #4BD137;
                height: 60px;
                border-radius: 52px;
                margin: 0 auto 0;
                padding: 0 20px;
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    flex: 1;
                }
                .phoneIcon {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background: url(./images/phone_icon.png) no-repeat center center;
                    background-size: 100% 100%;
                }
                .playIcon {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    background: url(./images/play_icon.png) no-repeat center center;
                    background-size: 100% 100%;
                }
            }
        }
    }
}

.correct {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(./images/icon_1.png) no-repeat center center;
        background-size: 100% 100%;
    }
    font-size: 16px;
    color: #fff;
    margin: 10px auto 0;
}

.tips {
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        width: 34px;
        height: 34px;
        background: url(./images/love_icon.png) no-repeat center center;
        background-size: 100% 100%;
    }
    font-size: 26px;
    color: #079456;
    padding-left: 80px;
    padding-top: 40px;
    box-sizing: border-box;
}

.logoBottom {
    width: 260px;
    height: 104px;
    background: url(./images/logo_bottom.png) no-repeat center center;
    background-size: 100% 100%;
    margin: 0 auto 0;
    margin-top: 100px;
}