.main {
  max-width: 750px;
  padding-bottom: 400px;
  overflow-x: hidden;
}
.banner {
  width: 100%;
  height: 833px;
  background: url(./images/banner.png) no-repeat center center;
  background-size: 100% 100%;
}
.videoContainer {
  margin-top: -360px;
  padding: 0 30px;
  position: relative;

  .videoList {
    transition: max-height 0.3s ease-in-out;
    max-height: 475px;
    overflow: hidden;
    .videoItem {
        margin-top: 20px;
    }
  }
  iframe {
    width: 100%;
    height: 315px;
    border-radius: 20px;
  }
  .list-fade {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 100px; // 渐变高度
    filter: blur(20px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 11%,
      rgba(255, 255, 255, 1) 76%,
      rgba(255, 255, 255, 0) 100%
    );

    // pointer-events: none; // 允许点击穿透
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    // 展开时隐藏渐变
    &.is-hidden {
      opacity: 0;
    }
  }
  .more-radios {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    position: relative;
    z-index: 2;

    .more-radios-arrow {
      margin-left: 5px;
      font-size: 24px;
      transition: transform 0.4s ease;
      transform: rotate(90deg);

      &.is-rotated {
        transform: rotate(-90deg);
      }
    }
  }
}
.mod {
  position: relative;
  width: 690px;
  background: linear-gradient(
    -180deg,
    rgba(162, 255, 232, 0.32) 0%,
    rgba(255, 255, 255, 1) 30%
  );
  margin: 60px auto 0;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 30px 20px;
  padding-top: 40px;
  border: 1px solid #9effe0;
  &.team {
    padding-bottom: 40px;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      color: #000;
      font-weight: bold;
      text-align: center;
      span {
        display: inline-block;
        width: 68px;
        height: 64px;
        background: url(./images/icon_1.png) no-repeat center center;
        background-size: 100% 100%;
      }
    }
    .teamSwiper {
        margin-top: 30px;
        .swiper-slide  {
            width: 260px;
        }
        .swiperItem {
            position: relative;
            width: 260px;
            height: 318px;
            background: #EFEFEF;
            border-radius: 20px;
            overflow: hidden;
            .photo1 {
                width: 212px;
                height: 298px;
                background: url(./images/photo_1.png) no-repeat center center;
                background-size: 100% 100%;
                margin: 20px auto 0;
            }
            .photo2 {
                width: 212px;
                height: 298px;
                background: url(./images/photo_2.png) no-repeat center center;
                background-size: 100% 100%;
                margin: 20px auto 0;
            }
            .photo3 {
                width: 212px;
                height: 298px;
                background: url(./images/photo_3.png) no-repeat center center;
                background-size: 100% 100%;
                margin: 20px auto 0;
            }
            .mask {
                position: absolute;
                width: 260px;
                height: 130px;
                background: linear-gradient(180deg, #00B76E 0%, #00CB80 100%,#04EEA6);
                bottom: 0;
                left: 0;
                box-sizing: border-box;
                padding-left: 20px;
                padding-top: 20px;
                .name {
                    font-size: 28px;
                    color: #fff;
                    font-weight: bold;
                }
                .position {
                    font-size: 24px;
                    color: #fff;
                    padding-top: 4px;
                }
            }
        }
    }
  }
  &.swiperText {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      color: #000;
      font-weight: bold;
      text-align: center;
      span {
        display: inline-block;
        width: 68px;
        height: 64px;
        background: url(./images/icon_1.png) no-repeat center center;
        background-size: 100% 100%;
      }
    }
    .text {
      font-size: 28px;
      color: #092217;
      line-height: 1.5;
      span {
        font-size: 40px;
      }
    }
    .swiper-pagination {
      position: relative;
    }
    ::v-deep .swiper-pagination-bullet {
      width: 14px;
      height: 8px;
      background: #b8b8b8;
      border-radius: 0;
      margin-left: 10px;
    }
    ::v-deep .swiper-pagination-bullet-active {
      width: 40px;
      background: #00be74;
    }
    .list {
      .item {
        display: flex;
        align-items: center;
        font-size: 28px;
        color: #092217;
        background: rgba(209, 255, 230, 0.8);
        border-radius: 16px;
        box-sizing: border-box;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 60px;
        margin-top: 20px;
        span {
          margin-right: 20px;
        }
        .icon2 {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(./images/icon_2.png) no-repeat center center;
          background-size: 100% 100%;
        }
        .icon3 {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(./images/icon_3.png) no-repeat center center;
          background-size: 100% 100%;
        }
        .icon4 {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(./images/icon_4.png) no-repeat center center;
          background-size: 100% 100%;
        }
      }
    }
  }
  &.journey {
    padding-left: 60px;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        color: #000;
        font-weight: bold;
        text-align: center;
        span {
          display: inline-block;
          width: 68px;
          height: 64px;
          background: url(./images/icon_1.png) no-repeat center center;
          background-size: 100% 100%;
        }
    }
    .journeyList {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 6px;
            background: #069456;
            left: -34px;
            height: 100%;
            top:0;
            opacity: .18;
        }
        .journeyItem {
            margin-top: 40px;   
        }
    }
    .titleText {
        display: flex;
        align-items: center;
        .tag {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 102px;
            height: 54px;
            background: url(./images/tag.png) no-repeat center center;
            background-size: 100% 100%;
            font-size: 32px;
            color: #fff;
            margin-right: 10px;
        }
        .dot {
            position: absolute;
            width: 24px;
            height: 24px;
            background: url(./images/dot.png) no-repeat center center;
            background-size: 100% 100%;
            left: -44px;
            top: 50%;
            transform: translate3d(0,-50%,0);
        }
        .t1 {
            display: inline-block;
            position: relative;
            font-size: 28px;
            color: #092217;
            .innerText {
                position: relative;
                z-index: 2;
            }
            .line {
                position: absolute;
                width: 105%;
                height: 12px;
                background: #D6FCED;
                left: 0;
                bottom: -0px;
            }
        }

        .t2 {
            display: inline-block;
            position: relative;
            font-size: 28px;
            color: #092217;
            .innerText {
                position: relative;
                z-index: 2;
            }
            .line {
                position: absolute;
                width: 105%;
                height: 12px;
                background: #D6FCED;
                left: 0;
                bottom: -0px;
            }
        }
    }
    .journeyText {
        font-size: 24px;
        color: #092217;
        padding-left: 10px;
        div {
            margin-top: 40px;
            &:nth-child(1) {
                margin-top:20px;
            }
        }
    }
  }
  &.life {
    .title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 36px;
        color: #000;
        font-weight: bold;
        text-align: center;
        .lifeLeftIcon {
            display: inline-block;
            width: 80px;
            height: 4px;
            background: url(./images/life_line_l.png) no-repeat center center;
            background-size: 100% 100%;
            margin-right: 30px;
        }
        .lifeRightIcon {
            display: inline-block;
            width: 80px;
            height: 4px;
            background: url(./images/life_line_r.png) no-repeat center center;
            background-size: 100% 100%;
            margin-left: 30px;
        }
        .lifeText {
            position: relative;
            z-index: 2;
        }
        .lifeLine {
            position: absolute;
            width: 106px;
            height: 22px;
            background: url(./images/life_flag.png) no-repeat center center;
            background-size: 100% 100%;
            left: 50%;
            transform: translate3d(-50%,0,0);
            bottom: -10px;
            z-index: 1;
        }
    }
    .text {
        font-size: 24px;
        color: #000;
        text-align: center;
        font-style: italic;
        margin-top: 20px;
    }
  }
  &.platform {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        color: #000;
        font-weight: bold;
        text-align: center;
        span {
          display: inline-block;
          width: 68px;
          height: 64px;
          background: url(./images/icon_1.png) no-repeat center center;
          background-size: 100% 100%;
        }
      }
    .brand {
        width: 541px;
        height: 145px;
        margin-top: 30px;
        background: url(./images/brand_img.png) no-repeat center center;
        background-size: 100% 100%;
        margin: 40px auto 0;
      
    }
    .line {
        width: 540px;
        height: 1px;
        margin-top: 30px;
        background: url(./images/line.png) no-repeat center center;
        background-size: 100% 100%;
        margin: 40px auto 0;
      
    }
    .platData {
        display: flex;
        align-items: center;
        margin: 0 auto 0;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        .leftFower {
            width: 36px;
            height: 94px;
            margin-top: 30px;
            background: url(./images/left_flower.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .rightFower {
            width: 36px;
            height: 94px;
            margin-top: 30px;
            background: url(./images/right_flower.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .dataContent {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            box-sizing: border-box;
            flex: 1;
            >div {
                &:nth-child(1) {
                    text-align: center;
                }
                &:nth-child(2) {
                    flex: 1;
                    text-align: center;
                }
                &:nth-child(3) {
                    text-align: center;
                }
            }
            .data {
                font-size: 28px;
                color: #000;
                font-weight: bold;
            }
            .dataName {
                font-size: 22px;
                color: #717171;
                padding-top: 10px;
            }
        }
    }
    
  }
}

.logoBottom {
  width: 260px;
  height: 104px;
  background: url(./images/logo_bottom.png) no-repeat center center;
  background-size: 100% 100%;
  margin: 0 auto 0;
  margin-top: 100px;
}
